h1{
    color : red;
    background-color: antiquewhite;
}
h2{
    color : greenyellow;
    background-color: cornsilk;
}
p1{
    color : aquamarine;
    background-color: cornsilk;
}
button{
    color : gold;
    background-color: burlywood;
}